#!/bin/sh

<% site_dir = node[:upaty][:site_dir] -%>
<% env = node[:upaty][:env] -%>

. <%= node[:upaty][:python][:virtualenv] %>/bin/activate
cd <%= site_dir %>/schema
python update.py commit

#compile again the translation
cd <%= site_dir %>
pybabel compile -f -d upaty/translations

#FIX: need to make this work on dev also
<% if env == 'local' -%>
sudo service <%= node[:upaty][:app_name] %> restart
<% end -%>
