<%= node[:upaty][:log_dir] %>/*.log {
    daily
    rotate 10
    compress
    delaycompress
    minsize 10M
    sharedscripts
    postrotate
        [ -f /var/run/nginx.pid ] && kill -USR1 $(cat /var/run/nginx.pid)
        pid_file="<%= node[:upaty][:site_dir] %>/scripts/twistd.pid"
        [ -f "$pid_file" ] && kill -USR1 $(cat "$pid_file")
    endscript
}
