from config.common import config

<% db = node[:upaty][:db] -%>
<% domains = node[:upaty][:server_names] -%>
<% emails = node[:upaty][:emails] -%>
<% env = node[:upaty][:env] -%>
<% remote_console = node[:upaty][:remote_console] -%>
<% apns = node[:upaty][:apns] -%>
<% gcm = node[:upaty][:gcm] -%>

config.update({
    'DOMAIN': '<%= domains[0] %>',
    'SQLALCHEMY_DATABASE_URI': 'postgresql://<%= db[:user] %>:<%= db[:password] %>@<%= db[:host] %>/<%= db[:database] %>',
    'SECRET_KEY': '<%= node[:upaty][:secret_key]%>',
    'email': {
        'sender': 'notification@upaty.com',
        'sender_name': 'uPaty Noti',
        'prefix': '[uPaty]',
        'admin': '<%= emails[:admin] %>',
        'errors': [
          <% emails[:errors].each do |address|  %>
            "<%= address %>",
          <% end %>
        ],
        <% if emails[:server] %>
        'server': "<%= emails[:server] %>",
        <% end %>
    },
    <% if remote_console[:port] and remote_console[:passwd_file] %>
    'remote_console': {
        'port': <%= remote_console[:port] %>,
        'passwd_file': '<%= remote_console[:passwd_file] %>'
    },
    <% end %>
    'apns': {
        'sandbox': <%= apns[:sandbox] ? 'True' : 'False' %>,
        <% if apns[:cert_file] %>
        'cert_file': '<%= apns[:cert_file] %>',
        <% end %>
    },
    'gcm': {
        <% if gcm[:api_key] %>
        'api_key': '<%= gcm[:api_key] %>',
        <% end %>
    },
    'env' : '<%= env %>',
    'debug': <%= node[:upaty][:debug] ? "True" : "False" %>,
})

