<%- server_names = node[:upaty][:server_names] -%>
<%- log_dir = node[:upaty][:log_dir] -%>
<%- server_aliases = node[:upaty][:server_aliases] -%>
server {

    listen              80;
    server_name         <%= server_names.join(' ') %>;
    access_log          <%= log_dir %>/access.log;
    error_log           <%= log_dir %>/error.log;


    location / {
        try_files $uri @flask;
    }

    # FIX: This is temporary. Designate a directory X as root of
    # publicly available resources (i.e. resource urls relative to
    # root should be the same as file paths relative to X (e.g. if X
    # is "/static", css files are under "/static/css", then css urls
    # should start with "/css" not "/static/css")).
    location /static {
        root <%= node[:upaty][:site_dir] %>/upaty;
    }

    location @flask {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/<%= node[:upaty][:app_name]%>_uwsgi.sock;
    }
}

server {
    listen 80;
    server_name <%=server_names.join(' ')%> <%-unless server_aliases.empty?-%><%=server_aliases.join(' ')%><%-end-%>;
    return 301 http://<%= server_names[0] %>$request_uri;
}
