<%- log_dir = node[:upaty][:log_dir] -%>
<%- site_dir = node[:upaty][:site_dir] -%>
<%- app_name = node[:upaty][:app_name] -%>

[uwsgi]

socket = /tmp/<%= app_name%>_uwsgi.sock
chmod-socket = 666
logto = <%= log_dir %>/uwsgi.log
chdir = <%= site_dir %>
pidfile = <%= site_dir %>/scripts/uwsgi.pid
module = upaty
callable = app
catch-exceptions
threads = 2