<!DOCTYPE html>
<html lang="en">
  <head>
    <title>upaty</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
  </head>

  <body class="cbp-spmenu-push" id="body">
    {% block content %}
    {% endblock %}
  </body>
</html>
